/* PC */
@media (max-width : 64em){

}

/* Tablet */
@media (min-width : 46.25em) and (max-width : 63.9375em){
}

/* Mobile */
@media (max-width : 46.1875em){
.header .menu-sidebar{
    display: none;
}
.content .img-title-architects{
    display: none;
}
.contain-mobile{
    padding: 0 32px;
}
}